extend index
block content
	.grid-container
		.item0.item.topleftcorner
			.img
		.item1.item.topmiddle
			.img
		.item2.item.toprightcorner
			.img
		.item3.item.middleleft
			.img
		.item4.middlecenter
			p
				span J
				span a
				span m
				span e
				span s 
				span  
				span M
				span i
				span l
				span l
				span e
				span r
			a.mail.icon(href='mailto:hi@jamesmiller.design').unlocked
			a.linkedin.icon(href='https://uk.linkedin.com/in/james-miller-b0bb4478/', target='_blank').unlocked
			a.github.icon(href='https://github.com/JamesMillercus/', target='_blank').unlocked
			a.twitter.icon(href='https://twitter.com/JamesMillerArt/', target='_blank').unlocked
			a.instagram.icon(href='https://www.instagram.com/jamesmillerart/', target='_blank').unlocked
			a.pinterest.icon(href='https://www.pinterest.co.uk/jameswcmiller/', target='_blank').unlocked
		.item5.item.middleright
			.img
		.item6.item.bottomleftcorner
			.img
		.item7.item.bottommiddle
			.img
		.item8.item.bottomrightcorner
			.img