extend index
block content
	.grid-container
		.item0.item.topleftcorner
			.img
			.video
			.text
				h1 Mood Tree
				p
					span.brand D&amp;AD wanted an installation, that would promote social activity during their design festival. 
					span.creative  We created a tree that utilised Twitter’s API and Stanfords Natural Language parser,
					span.technology  to analyse live tweets on the events ‘#’.
					span.event  A keyword and colour was displayed on each of the trees leaves, based on that tweets collected sentiment.
		.item1.item.topmiddle
			.img
			.video
			.text
				h1 Pay @ Pump
				p
					span.brand Barclaycard wanted to explore how their contactless technology could help reduce queues at bars on nights out.
					span.creative  Using their contactless card payment system, we designed a prototype beer pump,
					span.technology  that was automated to accurately pour a pint of beer
					span.event  once a successful payment had been received.
			.spacer
		.item2.item.toprightcorner
			.img
			.video
			.text
				h1 Hole In The Wall
				p
					span.brand Krispy Kreme wanted to create a spectacle to celebrate the release of their new Nutty Chocolatta doughnut.
					span.creative  We designed an interactive window display that allowed customers
					span.technology  to use their contactless bank cards to pay for the product,
					span.event  bringing the window display to life and ultimately receiving their doughnut through a hole in the wall.
			.spacer
		.item3.item.middleleft
			.img
			.video
			.text
				h1 Caddy Clubhouse
				p
					span.brand SAP wanted to use data to help golf enthusiasts improve their game during the BMW International Golf Open.
					span.creative  We designed an experience, that captured users data, generated metrics 
					span.technology  and analysed their golfing performance in preparation for a session with a professional coach,
					span.event  who used this projection mapped data to mentor players.
		.item4.middlecenter
			p
				span.herotext.start H
				span.herotext.start i
				// span.herotext.start J
				// span.herotext.start a
				// span.herotext.start m
				// span.herotext.start e
				// span.herotext.start s 
				// span.herotext 
				// span.herotext.start M
				// span.herotext.start i
				// span.herotext.start l
				// span.herotext.start l
				// span.herotext.start e
				// span.herotext.start r
			a.mail.icon(href='mailto:hi@jamesmiller.design')
			a.linkedin.icon(href='https://uk.linkedin.com/in/james-miller-b0bb4478/', target='_blank')
			a.github.icon(href='https://github.com/JamesMillercus/', target='_blank')
			a.twitter.icon(href='https://twitter.com/JamesMillerArt/', target='_blank')
			a.instagram.icon(href='https://www.instagram.com/jamesmillerart/', target='_blank')
			a.pinterest.icon(href='https://www.pinterest.co.uk/jameswcmiller/', target='_blank')
		.item5.item.middleright
			.img
			.video
			.text
				h1 Next Gen VR
				p
					span.brand Merck created a new drug to help MS patients manage their symptoms and wanted to show how it was changing lives.
					span.creative  To help users empathise with living through the symptoms,
					span.technology  we used the HTC Vive to create a VR experience that put users inside the daily life of suffers.
					span.event  Unity and custom made hardware, allowed us to fully immerse users with smell, haptics and temperature.
		.item6.item.bottomleftcorner
			.img
			.video
			.text
				h1 Epic Mind Drive
				p
					span.brand MoneySupermarket.com wanted to celebrate the release of telematics boxes for insurees car’s,
					span.creative  they wanted to reward smarter drivers with more than just cheaper car insurance.
					span.technology  We created an experience that used an EEG headset to monitor electrical activity in a users brain
					span.event  to drive a car, by controlling a robot that turned a steering wheel and pressed on an acceleration pad.
			.spacer
		.item7.item.bottommiddle
			.img
			.video
			.text
				h1 What It Means To Be A Maker
				p
					span.brand This research was focussed on the fundamental processes that lie at the heart of making
					span.creative  and led to theory that was tested in a series of recorded conversations.
					span.technology  Through the use of programming languages, these recorded conversations were turned into vector points
					span.event  in Adobe Illustrator and then laser cut into 2 wooden records - summarising both mental and physical aspects of making.
			.spacer
		.item8.item.bottomrightcorner
			.img
			.video
			.text
				h1 MAIA
				p
					span.brand Based on research conducted by ADT that showed x number of people had y results,
					span.creative  they wanted to concept a solution to solve ‘petty pilfering’.
					span.technology  We created a series IOT devices that took photos of the ‘petty pilferer’
					span.event  using a camera and sent the images via a 4g connection to the users mobile device.
			.spacer