extend index
block content
	.grid-container
		.item0.item.topleftcorner
			.img
		.item1.item.topmiddle
			.img
		.item2.item.toprightcorner
			.img
		.item3.item.middleleft
			.img
		.item4.middlecenter
			p
				span.herotext.start J
				span.herotext.start a
				span.herotext.start m
				span.herotext.start e
				span.herotext.start s 
				span.herotext 
				span.herotext.start M
				span.herotext.start i
				span.herotext.start l
				span.herotext.start l
				span.herotext.start e
				span.herotext.start r
			a.mail.icon(href='mailto:hi@jamesmiller.design')
			a.linkedin.icon(href='https://uk.linkedin.com/in/james-miller-b0bb4478/', target='_blank')
			a.github.icon(href='https://github.com/JamesMillercus/', target='_blank')
			a.twitter.icon(href='https://twitter.com/JamesMillerArt/', target='_blank')
			a.instagram.icon(href='https://www.instagram.com/jamesmillerart/', target='_blank')
			a.pinterest.icon(href='https://www.pinterest.co.uk/jameswcmiller/', target='_blank')
		.item5.item.middleright
			.img
		.item6.item.bottomleftcorner
			.img
		.item7.item.bottommiddle
			.img
		.item8.item.bottomrightcorner
			.img