/* Portrait */
@media only screen and (orientation: portrait) {

  /* set each item img's dimensions & img settings */
  .grid-container-tablet .item .img {
    height: 30%;
    /*max-width: 220px;*/
    width:162px;
    background-repeat: no-repeat;
    background-size: auto 200%;
    background-position: 50% 0;
    margin: auto;
    position: absolute;
  }

  .grid-container-tablet .item7.item .img, .grid-container-tablet .item1.item .img {
    height: 60%;
  }

  .grid-container-tablet .item7.item .img{
    top:20%;
  }

  .grid-container-tablet .item1.item .img {
    bottom:20%;
  }

  .grid-container-tablet .item3.item .img{
    right:30%;
  }

  .grid-container-tablet .item5.item .img{
    left:30%;
  }

}
