/* set each item img's dimensions & img settings */
.grid-container-laptop .item .activeImg.scrolledImg, .grid-container-laptop .item2 .scrolledImg {
  margin: 10vh 0 0 0;
  height: 45%;
}

.grid-container-laptop .item1.item .activeImg.scrolledImg {
  margin-bottom:0;
  height: 90%;
}

.grid-container-laptop .item3 .activeImg.scrolledImg, .grid-container-laptop .item5 .activeImg.scrolledImg {
  margin: 8vh 0 0 0;
  height:51%;
}

.grid-container-laptop .item6 .activeImg.scrolledImg{
  margin: 0 0 8vh 0;
  height: 45%;
}

.grid-container-laptop .item7.item .activeImg.scrolledImg {
  height: 100%;
}

.grid-container-laptop .item8 .activeImg.scrolledImg{
  margin: 0 0 8vh 0;
  height: 45%;
}
