/* on item hover, reveal colour img */
.grid-container-laptop .item .scrolledImg {
  background-position: 50% 100%;
}
.grid-container-laptop .item0 .scrolledImg {
  margin: 10vh 0 0 0;
  height: 45%;
}

.grid-container-laptop .item1.item .scrolledImg {
  height: 100%;
}
