/* on item hover, reveal colour img */
.grid-container-mobile .mobile-item:hover > .img {
  background-position: 50% 100%;
}
/* set top left corner img pos & src */
.mobile-item0 .img {
  grid-area: rightimg;
  background-image: url(/assets/images/topleft.png);
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set top middle img pos & src */
.mobile-item1.mobile-item .img {
  grid-area: centerimg;
  background-image: url(/assets/images/topcenter.png);
  right: 0;
  left: 0;
  bottom: 0;
  height:90%;
}
/* set top right corner img pos & src */
.mobile-item2 .img {
  grid-area: leftimg;
  background-image: url(/assets/images/topright.png);
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
}
/* set left middle img pos & src */
.mobile-item3 .img {
  grid-area: img;
  height:45%;
  background-image: url(/assets/images/middleleft.png);
  right: 0;
  /*left: 0;*/
  top: 0;
  bottom: 0;
}

/* set right middle img pos & src */
.mobile-item5 .img {
  /*background-color: pink;*/
  grid-area: img;
  height:45%;
  background-image: url(/assets/images/middleright.png);
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set bottom left corner img pos & src */
.mobile-item6 .img {
  /*background-color: pink;*/
  grid-area: rightimg;
  background-image: url(/assets/images/bottomleft.png);
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set bottom middle img pos & src */
.mobile-item7.mobile-item .img {
  /*background-color: pink;*/
  grid-area: centerimg;
  background-image: url(/assets/images/bottomcenter.png);
  right: 0;
  left: 0;
  top: 0;
  height:90%;
  /*bottom: 0;*/
}
/* set bottom right corner img pos & src */
.mobile-item8 .img {
  /*background-color: pink;*/
  grid-area: leftimg;
  background-image: url(/assets/images/bottomright.png);
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
}
/* set each item img's dimensions & img settings */
.mobile-item .img {
  height: 45%;
  /*max-width: 220px;*/
  width:162px;
  background-repeat: no-repeat;
  background-size: auto 200%;
  background-position: 50% 0;
  margin: auto;
  position: absolute;
}
