/* set top left corner img pos & src */
.grid-container-tablet .item0 .activeImg {
  grid-area: rightimg;
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set top middle img pos & src */
.grid-container-tablet .item1.item .activeImg {
  grid-area: centerimg;
  right: 0;
  left: 0;
  bottom: 0;
  height:90%;
}
/* set top right corner img pos & src */
.grid-container-tablet .item2 .activeImg {
  grid-area: leftimg;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
}
/* set left middle img pos & src */
.grid-container-tablet .item3 .activeImg {
  grid-area: img;
  height:45%;
  right: 0;
  /*left: 0;*/
  top: 0;
  bottom: 0;
}

/* set right middle img pos & src */
.grid-container-tablet .item5 .activeImg {
  /*background-color: pink;*/
  grid-area: img;
  height:45%;
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set bottom left corner img pos & src */
.grid-container-tablet .item6 .activeImg {
  /*background-color: pink;*/
  grid-area: rightimg;
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set bottom middle img pos & src */
.grid-container-tablet .item7.item .activeImg {
  /*background-color: pink;*/
  grid-area: centerimg;
  right: 0;
  left: 0;
  top: 0;
  height:90%;
  /*bottom: 0;*/
}
/* set bottom right corner img pos & src */
.grid-container-tablet .item8 .activeImg {
  /*background-color: pink;*/
  grid-area: leftimg;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
}
/* set each item img's dimensions & img settings */
.grid-container-tablet .item .activeImg {
  height: 45%;
  /*max-width: 220px;*/
  width:162px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin: auto;
  position: absolute;
  background-position: center;
}
