/* Portrait */
@media only screen and (orientation: portrait) {

  /* set each item img's dimensions & img settings */
  .grid-container-tablet .item .activeImg {
    height: 30%;
    /*max-width: 220px;*/
    width:162px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    margin: auto;
    position: absolute;
  }

  .grid-container-tablet .item7.item .img, .grid-container-tablet .item1.item .activeImg {
    height: 60%;
  }

  .grid-container-tablet .item7.item .activeImg{
    top:20%;
  }

  .grid-container-tablet .item1.item .activeImg {
    bottom:20%;
  }

  .grid-container-tablet .item3.item .activeImg{
    right:30%;
  }

  .grid-container-tablet .item5.item .activeImg{
    left:30%;
  }

}
