/* set body styling */
body {
  width:100%;
  margin:0;
  padding:0;
  position:fixed;
}

/* setting up css gird into 3x3 @ 1.5x viewport */
.grid-container-laptop {
  width: 200vw;
  height: 250vh;
  grid-template-rows: 37.5% 15% 37.5%;
  grid-template-columns: 42.5% 15% 42.5%;
  display: grid;
  grid-template-areas:
    'topleft topcenter topright'
    'middleleft middlecenter middleright'
    'bottomleft bottomcenter bottomright';
  /*background-color: #2196F3;*/
  padding: 0;
  margin: -62.5vh 0 0 -50vw;
  /*margin: 0vh 0 0 -50vw;*/
  min-height:1550px;
  min-width:2200px;
}
/* set top left corner grid rules */
.topleftcorner {
  grid-template-rows: 19% 19% 19% 3% 40%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'spacer video video video video video'
  'spacer video video video video video'
  'spacer video video video video video'
  'extra extra extra extra extra extra'
  'notext notext text text rightimg rightimg';
}
/* set top middle grid rules */
.topmiddle {
  grid-template-rows: 19% 19% 2% 20% 20% 20%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'video video video'
  'video video video'
  'extra extra extra'
  'text text text'
  'text text text'
  'centerimg centerimg centerimg';
}
/* set top right corner grid rules */
.toprightcorner {
  grid-template-rows: 19% 19% 19% 3% 40%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'video video video video spacer spacer'
  'video video video video spacer spacer'
  'video video video video spacer spacer'
  'extra extra extra extra extra extra'
  'leftimg leftimg text text notext notext';
}
/* set middle left grid rules */
.middleleft {
  grid-template-columns: 15.66% 15.66% 15.66% 3% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'video video video spacer text text img';
}
/* set middle center grid rules */
.middlecenter {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
  'mail linkedin github'
  'hero hero hero'
  'twitter instagram pinterest';
}
/* set middle right grid rules */
.middleright {
  grid-template-columns: 16.66% 16.66% 16.66% 3% 15.66% 15.66% 15.66%;
  display: grid;
  grid-template-areas:
  'img text text spacer video video video';
}
/* set bottom left corner grid rules */
.bottomleftcorner {
  grid-template-rows: 40% 3% 19% 19% 19%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'notext notext text text rightimg rightimg'
  'extra extra extra extra extra extra'
  'spacer spacer video video video video'
  'spacer spacer video video video video'
  'spacer spacer video video video video';
}
/* set bottom right corner grid rules */
.bottomrightcorner {
  grid-template-rows: 40% 3% 19% 19% 19%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'leftimg leftimg text text notext notext'
  'extra extra extra extra extra extra'
  'video video video video spacer spacer'
  'video video video video spacer spacer'
  'video video video video spacer spacer';
}
/* set bottom middle grid rules */
.bottommiddle {
  grid-template-rows: 20% 20% 20% 2% 19% 19%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'centerimg centerimg centerimg'
  'text text text'
  'text text text'
  'extra extra extra'
  'video video video'
  'video video video';
}
