/* set body styling */
body {
  margin:0;
  padding:0;
}

/* setting up css gird into 3x3 @ 1.5x viewport */
.grid-container-laptop {
  grid-template-areas:
  'topleft topcenter topright'
  'middleleft middlecenter middleright'
  'bottomleft bottomcenter bottomright';
  position: fixed;
  grid-template-rows: 37.5% 25% 37.5%;
  grid-template-columns: 42.5% 15% 42.5%;
  display: grid;
  padding: 0;
  margin: 0;
  min-height: 650px;
  min-width: 1100px;
  width: 100vw;
  height: 100vh;
}
/* set top left corner grid rules */
.grid-container-laptop .topleftcorner {
  grid-template-rows: 50% 50%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'extra extra extra extra extra extra'
  'notext notext text text rightimg rightimg';
}
/* set top middle grid rules */
.grid-container-laptop .topmiddle {
  grid-template-rows: 19% 19% 2% 20% 20% 20%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'video video video'
  'video video video'
  'extra extra extra'
  'text text text'
  'text text text'
  'centerimg centerimg centerimg';
}
/* set top right corner grid rules */
.grid-container-laptop .toprightcorner {
  grid-template-rows: 19% 19% 19% 3% 40%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'video video video video spacer spacer'
  'video video video video spacer spacer'
  'video video video video spacer spacer'
  'extra extra extra extra extra extra'
  'leftimg leftimg text text notext notext';
}
/* set middle left grid rules */
.grid-container-laptop .middleleft {
  grid-template-columns: 15.66% 15.66% 15.66% 3% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'video video video spacer text text img';
}
/* set middle center grid rules */
.grid-container-laptop .middlecenter {
  display: grid;
  grid-template-rows: 21.67% 15% 26.67% 15% 21.67%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
  'topLeftIcon topCenterIcon topRightIcon'
  'heroTopText heroTopText heroTopText'
  'hero hero hero'
  'heroBottomText heroBottomText heroBottomText'
  'bottomLeftIcon bottomCenterIcon bottomRightIcon';
  position:relative;
}
/* set middle right grid rules */
.grid-container-laptop .middleright {
  grid-template-columns: 16.66% 16.66% 16.66% 3% 15.66% 15.66% 15.66%;
  display: grid;
  grid-template-areas:
  'img text text spacer video video video';
}
/* set bottom left corner grid rules */
.grid-container-laptop .bottomleftcorner {
  grid-template-rows: 40% 3% 19% 19% 19%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'notext notext text text rightimg rightimg'
  'extra extra extra extra extra extra'
  'spacer spacer video video video video'
  'spacer spacer video video video video'
  'spacer spacer video video video video';
}
/* set bottom right corner grid rules */
.grid-container-laptop .bottomrightcorner {
  grid-template-rows: 40% 3% 19% 19% 19%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  display: grid;
  grid-template-areas:
  'leftimg leftimg text text notext notext'
  'extra extra extra extra extra extra'
  'video video video video spacer spacer'
  'video video video video spacer spacer'
  'video video video video spacer spacer';
}
/* set bottom middle grid rules */
.grid-container-laptop .bottommiddle {
  grid-template-rows: 20% 20% 20% 2% 19% 19%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'centerimg centerimg centerimg'
  'text text text'
  'text text text'
  'extra extra extra'
  'video video video'
  'video video video';
}
