.grid-container-laptop .item4 .heroHeaderText {
	// height: 100%;
  width: 100%;
  // margin-top: 8%;
  text-align: center;
	grid-area: heroTopText;
	position: absolute;
	top:0;
	margin: 18% 0px 0px 0px;
}
