/* adjustable variables for icon positioning */
$iconVerticalSpace: 28%;
$iconBottomVerticalSpace: 5%;
$iconHorizontalSpace: 0;

/* adjustable variables for icon hiding*/
/*$iconHideVertical: 60%;
$iconHideHorizontal: -60%;*/

$animationSpeed: 500ms;
/*** set grid container animation ***/
.grid-container {
	-webkit-transition: all $animationSpeed;
	-moz-transition: all $animationSpeed;
	-o-transition: all $animationSpeed;
	transition: all $animationSpeed cubic-bezier(0.645, 0.045, 0.355, 1); 
}

.item4 .icon {
	-webkit-transition: opacity $animationSpeed, margin $animationSpeed ease;
	-moz-transition: opacity $animationSpeed, margin $animationSpeed ease;
	-o-transition: opacity $animationSpeed, margin $animationSpeed ease;
	transition: opacity $animationSpeed, margin $animationSpeed ease; 
}

/* animate grid to item0 hovered state */
.grid-container.item0scroll {
	margin-top:-20vh;
	margin-left:0;
}

/* animate grid to item1 hovered state */
.grid-container.item1scroll {
	margin-top:-15vh;
}

/* animate grid to item2 hovered state */
.grid-container.item2scroll {
	margin-top:-20vh;
	margin-left:-50vw;
}
/* animate grid to item3 hovered state */
.grid-container.item3scroll {
	margin-left:0;
}
/* animate grid to item5 hovered state */
.grid-container.item5scroll {
	margin-left:-50vw;
}
/* animate grid to item6 hovered state */
.grid-container.item6scroll {
	margin-left:0;
	margin-top: -30vh;
}
/* animate grid to item7 hovered state */
.grid-container.item7scroll {
	margin-top: -35vh;
}
/* animate grid to item8 hovered state */
.grid-container.item8scroll {
	margin-left:-50vw;
	margin-top: -30vh;
}

/* animate grid to item0 active state */
.grid-container.item0active {
	margin-top:0;
	margin-left:0;
}
/* animate grid to item1 active state */
.grid-container.item1active {
	margin-top:0;
}
/* animate grid to item2 active state */
.grid-container.item2active {
	margin-top:0;
	margin-left:-50vw;
}
/* animate grid to item3 active state */
.grid-container.item3active {
	margin-left:0;
}
/* animate grid to item5 active state */
.grid-container.item5active {
	margin-left:-50vw;
}
/* animate grid to item6 active state */
.grid-container.item6active {
	margin-top:-50vh;
	margin-left:0;
}
/* animate grid to item7 active state */
.grid-container.item7active {
	margin-top:-50vh;
}
/* animate grid to item8 active state */
.grid-container.item8active {
	margin-top:-50vh;
	margin-left:-50vw;
}

.item4 .mail.active {
    margin-top: $iconVerticalSpace; 
    margin-right: $iconHorizontalSpace;
}

.item4 .linkedin.active {
	margin-top:$iconVerticalSpace;
}

.item4 .github.active {
	margin-top:$iconVerticalSpace;
	margin-left:$iconHorizontalSpace;
}

.item4 .twitter.active {
	margin-right:$iconHorizontalSpace;
	margin-top:$iconBottomVerticalSpace;
    /*margin: auto $iconHorizontalSpace $iconVerticalSpace auto;*/
}
.item4 .instagram.active {
	margin-top:$iconBottomVerticalSpace;
    /*margin: auto auto $iconVerticalSpace auto;*/
}
.item4 .pinterest.active {
	margin-top:$iconBottomVerticalSpace;
	margin-left:$iconHorizontalSpace;
    /*margin: auto auto $iconVerticalSpace $iconHorizontalSpace;*/
}

.item4 .icon.active {
     opacity:.5;
}