/* adjustable variables for icon positioning */
$iconVerticalSpace: 28%;
$iconHorizontalSpace: 0;

/* adjustable variables for icon hiding*/
$iconHideVertical: 60%;
$iconHideHorizontal: -60%;

$iconHideBottomVertical: -10%;

.item4 { 
    grid-area: middlecenter; 
}
/* set center text pos & src */
.item4 p {
	grid-area: hero;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 0;
}
/* set mail icon pos & src */
.item4 .mail {
    grid-area: mail;
    background-image: url(../assets/icons/mail.jpg);
    margin-left:auto;
    margin-bottom:auto;
    margin-top: $iconHideVertical; 
    margin-right: $iconHideHorizontal;
}

/* set linkedin icon pos & src */
.item4 .linkedin {
	grid-area: linkedin;
	background-image: url(../assets/icons/linkedin.jpg);
    margin: $iconHideVertical auto auto auto;
}

/* set github icon pos & src */
.item4 .github {
	grid-area: github;
	background-image: url(../assets/icons/github.jpg);
    margin: $iconHideVertical auto auto $iconHideHorizontal;
}


/* set twitter icon pos & src */
.item4 .twitter {
    grid-area: twitter;
    background-image: url(../assets/icons/twitter.jpg);
    margin: $iconHideBottomVertical $iconHideHorizontal auto auto;
}


/* set instagram icon pos & src */
.item4 .instagram {
    grid-area: instagram;
    background-image: url(../assets/icons/instagram.jpg);
    margin: $iconHideBottomVertical auto auto auto;
}


/* set pinterest icon pos & src */
.item4 .pinterest {
    grid-area: pinterest;
    background-image: url(../assets/icons/pinterest.jpg);
    margin: $iconHideBottomVertical auto auto $iconHideHorizontal;
}

/* set icon dimensions & settings */
.icon {
    background-size: auto 200%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0;
    /*display:none;*/
    height: 30%;
    width: 30%;
}
/* if icon has been unlocked, allow it to be pointed at */
.unlocked {
    /*display:inline-block;*/
    cursor:pointer;
}
/* set all unlocked icons hover styling */
.item4 .unlocked:hover {
	background-position: 50% 100%;
	opacity: 1;
}