.mailrevealed {
	color: #0099d2;
}

.linkedinrevealed {
	color: #007bb6;
}

.githubrevealed {
	color: #742e86;
}

.twitterrevealed {
	color: #1da1f3;
}	

.instagramrevealed {
	color: #f9be02;
}

.pinterestrevealed {
	color: #bd071d;
}