/* adjustable variables for icon positioning */
$iconVerticalSpace: 28%;
$iconHorizontalSpace: 0;

/* set body styling */
body {
	width:100%;
	margin:0;
	padding:0;
	position:fixed;
}
/* assigning item divs to css grid */
.item0 { grid-area: topleft; }
.item1 { grid-area: topcenter; }
.item2 { grid-area: topright; }
.item3 { grid-area: middleleft; }
.item4 { grid-area: middlecenter; }
.item5 { grid-area: middleright; }
.item6 { grid-area: bottomleft; }
.item7 { grid-area: bottomcenter; }
.item8 { grid-area: bottomright; }
/* setting up css gird into 3x3 @ 1.5x viewport */
.grid-container {
  width: 150vw;
  height: 150vh;
  grid-template-rows: 37.5% 25% 37.5%;
  grid-template-columns: 37.5% 25% 37.5%;
  display: grid;
  grid-template-areas:
    'topleft topcenter topright'
    'middleleft middlecenter middleright'
    'bottomleft bottomcenter bottomright';
  /*background-color: #2196F3;*/
  padding: 0;
  margin: -25vh 0 0 -25vw;
  min-height:800px;
  min-width:1400px;
}
/* set all item divs to relative position (to center the item's content) */
.item {
	position:relative;
}
/* on item hover, reveal colour img */
.item:hover > .img {
	background-position: 50% 100%;
}
/* on item hover hover, make the cursor a pointer */
.item:hover {
	cursor:pointer;
}
/* set top left corner grid rules */
.topleftcorner {
  grid-template-rows: 50% 50%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'text text text'
  'leftimg rightimg rightimg';
}
/* set top middle grid rules */
.topmiddle {
  grid-template-rows: 50% 50%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'text text text'
  'centerimg centerimg centerimg';
}
/* set top right corner grid rules */
.toprightcorner {
  grid-template-rows: 50% 50%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'text text text'
  'leftimg leftimg rightimg';
}
/* set middle left grid rules */
.middleleft {
  grid-template-columns: 50% 50%;
  display: grid;
  grid-template-areas:
  'text img';
}
/* set middle center grid rules */
.middlecenter {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
  'mail linkedin github'
  'hero hero hero'
  'twitter instagram pinterest';
}
/* set middle right grid rules */
.middleright {
  grid-template-columns: 50% 50%;
  display: grid;
  grid-template-areas:
  'img text';
}
/* set bottom left corner grid rules */
.bottomleftcorner {
  grid-template-rows: 50% 50%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'leftimg rightimg rightimg'
  'text text text';
}
/* set bottom right corner grid rules */
.bottomrightcorner {
  grid-template-rows: 50% 50%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'leftimg leftimg rightimg'
  'text text text';
}
/* set bottom middle grid rules */
.bottommiddle {
  grid-template-rows: 50% 50%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-template-areas:
  'centerimg centerimg centerimg'
  'text text text';
}
/* set top left corner img pos & src */
.item0 .img {
  grid-area: rightimg;
  background-image: url(../assets/images/topleft.png);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
/* set top middle img pos & src */
.item1 .img {
  grid-area: centerimg;
  background-image: url(../assets/images/topcenter.png);
  right: 0;
  left: 0;
  bottom: 0;
}
/* set top right corner img pos & src */
.item2 .img {
  grid-area: leftimg;
  background-image: url(../assets/images/topright.png);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
/* set left middle img pos & src */
.item3 .img {
  grid-area: img;
  height:45%;
  background-image: url(../assets/images/middleleft.png);
  right: 0;
  /*left: 0;*/
  top: 0;
  bottom: 0;
}
/* set center text pos & src */
.item4 p {
	grid-area: hero;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    margin: auto auto auto auto;
    cursor: pointer;
    height: 50%;
    line-height: 100%;
}
/* set mail icon pos & src */
.item4 .mail {
    grid-area: mail;
    background-image: url(../assets/icons/mail.jpg);
    margin: $iconVerticalSpace $iconHorizontalSpace auto auto;
}
/* set linkedin icon pos & src */
.item4 .linkedin {
	grid-area: linkedin;
	background-image: url(../assets/icons/linkedin.jpg);
    margin: $iconVerticalSpace auto auto auto;
}
/* set github icon pos & src */
.item4 .github {
	grid-area: github;
	background-image: url(../assets/icons/github.jpg);
    margin: $iconVerticalSpace auto auto $iconHorizontalSpace;
}
/* set twitter icon pos & src */
.item4 .twitter {
	grid-area: twitter;
	background-image: url(../assets/icons/twitter.jpg);
    margin: auto $iconHorizontalSpace $iconVerticalSpace auto;
}
/* set instagram icon pos & src */
.item4 .instagram {
	grid-area: instagram;
	background-image: url(../assets/icons/instagram.jpg);
	margin: auto auto $iconVerticalSpace auto;
}
/* set pinterest icon pos & src */
.item4 .pinterest {
	grid-area: pinterest;
	background-image: url(../assets/icons/pinterest.jpg);
	margin: auto auto $iconVerticalSpace $iconHorizontalSpace;
}
/* set icon dimensions & settings */
.icon {
    background-size: auto 200%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 30%;
    width: 30%;
    cursor:pointer;
    display:inline-block;
}
.icon:hover {
	background-position: 50% 100%;
	opacity: 0.9;
}
/* set right middle img pos & src */
.item5 .img {
  /*background-color: pink;*/
  grid-area: img;
  height:45%;
  background-image: url(../assets/images/middleright.png);
  /*right: 0;*/
  left: 0;
  top: 0;
  bottom: 0;
}
/* set bottom left corner img pos & src */
.item6 .img {
  /*background-color: pink;*/
  grid-area: rightimg;
  background-image: url(../assets/images/bottomleft.png);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
/* set bottom middle img pos & src */
.item7 .img {
  /*background-color: pink;*/
  grid-area: centerimg;
  background-image: url(../assets/images/bottomcenter.png);
  right: 0;
  left: 0;
  top: 0;
  /*bottom: 0;*/
}
/* set bottom right corner img pos & src */
.item8 .img {
  /*background-color: pink;*/
  grid-area: leftimg;
  background-image: url(../assets/images/bottomright.png);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
/* set each item img's dimensions & img settings */
.img {
  height: 60%;
  /*max-width: 220px;*/
  width:162px;
  background-repeat: no-repeat;
  background-size: auto 200%;
  background-position: 50% 0;
  margin: auto;
  position: absolute;
}