$headerspeed: 250ms;

.grid-container-laptop .heroTextContainer p.reveal.animateOldSubCharsOut, .grid-container-laptop .heroTextContainer p.reveal.animateNewSubCharsIn {
  -webkit-transition: opacity $headerspeed;
  -moz-transition: opacity $headerspeed;
  -o-transition: opacity $headerspeed;
  transition: opacity $headerspeed;
}

.grid-container-laptop .heroTextContainer p.reveal.animateOldSubCharsOut {
  opacity:0 !important;
}

.grid-container-laptop .heroTextContainer p.reveal.animateNewSubCharsIn {
  opacity:1 !important;
}

.grid-container-laptop .heroTextContainer p.designSubText {
  color: #008f9c;
}
