$animationSpeed: 250ms;

.laptop-item .text p, .laptop-item .text h1 {
	-webkit-transition: opacity $animationSpeed;
	-moz-transition: opacity $animationSpeed;
	-o-transition: opacity $animationSpeed;
	transition: opacity $animationSpeed;
}
