.grid-container-tablet .item .text p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #7c7c7c;
  margin:0;
  opacity:0;
}

.grid-container-tablet .item .text h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #7c7c7c;
  margin:0 0 10px 0;
  padding:0;
  opacity:0;
}
.grid-container-tablet .item .text {
  grid-area: text;
  /*opacity:0;*/
  /*background-color:green;*/
}
