$animationSpeed: 250ms;

.grid-container-laptop .item .text .textContainer {
	-webkit-transition: opacity $animationSpeed, margin $animationSpeed;
	-moz-transition: opacity $animationSpeed, margin $animationSpeed;
	-o-transition: opacity $animationSpeed, margin $animationSpeed;
	transition: opacity $animationSpeed, margin $animationSpeed;
}

.grid-container-laptop .item .scrolledText .textContainer {
  opacity:1;
}

.grid-container-laptop .item0 .scrolledText .textContainer, .grid-container-laptop .item2 .scrolledText .textContainer {
	margin: 5vh 0 0 0;
}

.grid-container-laptop .item1 .scrolledText .textContainer {
	margin: 0vh 0 2vh 0;
}

.grid-container-laptop .item3 .scrolledText .textContainer, .grid-container-laptop .item5 .scrolledText .textContainer {
  margin: 5vh 0 0 0;
}

.grid-container-laptop .item6 .scrolledText .textContainer {
	margin: 0 0 6vh 0;
}

.grid-container-laptop .item7 .scrolledText .textContainer {
	margin: 0;
}

.grid-container-laptop .item8 .scrolledText .textContainer {
	margin: 0 0 6vh 0;
}

// edge browser support
@supports (-ms-ime-align:auto) {
  .grid-container-laptop .item0 .scrolledText .textContainer {
    margin: 10vh 0 0 3vw;
  }

	.grid-container-laptop .item1 .scrolledText .textContainer {
	  margin: 4vh 0 0 0;
	}

	.grid-container-laptop .item2 .scrolledText .textContainer {
		margin: 10vh 3vw 0 0;
	}

	.grid-container-laptop .item3 .scrolledText .textContainer, .grid-container-laptop .item5 .scrolledText .textContainer {
		margin: 9vh 0 0 0;
	}

	.grid-container-laptop .item6 .scrolledText .textContainer {
		margin: 0 0 10vh 3vw;
	}

	.grid-container-laptop .item7 .scrolledText .textContainer {
	  margin: 0 0 2vh 0;
	}

	.grid-container-laptop .item8 .scrolledText .textContainer {
		margin: 0 3vw 10vh 0;
	}
}
