.grid-container-laptop .item4 .heroTextContainer h1 {
	/* height: 100%; */
	grid-area: hero;
	font-family: Source Sans Pro,sans-serif;
	color: #7c7c7c;
	font-size: 45px;
	letter-spacing: -12.2px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	line-height: 0;
	font-weight: bold;
	width: 100%;
	top: -8%;
	-webkit-text-stroke-width: 1px;
}

.grid-container-laptop .item4 .heroTextContainer h1.heroLogo {
	font-size: 45px;
	letter-spacing: -12.2px;
	line-height: 0;
	-webkit-text-stroke-width: 2px;
}

.grid-container-laptop .item4 .heroTextContainer h1.heroIconText {
	font-size: 30px;
	letter-spacing: -2px;
	line-height: .7;
}
