.grid-container-laptop .item4 .heroTextContainer h1 {
	/* height: 100%; */
	grid-area: hero;
	// font-family: Source Sans Pro,sans-serif;
	font-family: 'Baloo Bhaina', cursive;
	color: #7c7c7c;
	font-size: 45px;
	letter-spacing: -12.2px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	line-height: 0;
	font-weight: 100;
	width: 100%;
	top: -8%;
	-webkit-text-stroke-width: 1px;
}

.grid-container-laptop .item4 .heroTextContainer span.heroLogo {
	font-size: 60px;
  letter-spacing: -17px;
  line-height: 0.3;
  -webkit-text-stroke-width: 0;
	font-weight: normal;
	margin-left:-4%;
}

.grid-container-laptop .item4 .heroTextContainer span.heroLogo:first-child {
  font-size: 62px;
}

.grid-container-laptop .item4 .heroTextContainer span.heroIconText {
	font-size: 40px;
	letter-spacing: 0px;
	line-height: .5;
}

.grid-container-laptop .item4 .heroTextContainer span.heroEmailText {
	font-size: 30px;
	letter-spacing: -2px;
	line-height: .5;
	-webkit-text-stroke-width: 0px;
}
