.grid-container-mobile .item4 .heroTextContainer h1 {
  font-size: 200px;
  letter-spacing: -55px;
  line-height: 0.5;
  margin-left: -2%;
  -webkit-text-stroke-width: 0;
  font-weight: 400;
  text-align: center;
  width: 100%;
  font-family: Baloo Bhaina,cursive;
}
