$speed: 200ms;

.animateOldCharsOut, .animateNewCharsIn {
  -webkit-transition: opacity $speed;
  -moz-transition: opacity $speed;
  -o-transition: opacity $speed;
  transition: opacity $speed;
}

.animateOldCharsOut {
  opacity:0;
}

.animateNewCharsIn {
  opacity:1;
}

.grid-container-laptop .item4 .heroTextContainer h1.nonLogo .animateNewCharsIn, .grid-container-laptop .item4 .heroTextContainer h1.nonLogo .animateOldCharsOut{
  color: #7c7c7c;
}
