/* set center text pos & src */
.grid-container-tablet .item4 .heroTextContainer {
	grid-area: hero;
    position: relative;
}

.grid-container-tablet .item4 .heroTextContainer h1 {
    font-family: Source Sans Pro,sans-serif;
    color: #7c7c7c;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    line-height: 1.6;
    z-index: 1;
    font-weight: 400;
    letter-spacing: -2px;
}

.grid-container-tablet .heroTextContainer p {
	margin: 0;
	opacity: 0;
	z-index:-1;
}

.grid-container-tablet .heroTextContainer {
	font-family: Source Sans Pro,sans-serif;
    color: #7c7c7c;
}

.grid-container-tablet .item4 .heroHeaderText {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.grid-container-tablet .item4 .heroFooterText {
	margin-top: -50px;
    position: absolute;
    width: 100%;
    text-align: center;
}

// .mailrevealed {
// 	color: #0099d2;
// }
//
// .linkedinrevealed {
// 	color: #007bb6;
// }
//
// .githubrevealed {
// 	color: #742e86;
// }
//
// .twitterrevealed {
// 	color: #07bd18;
// }
//
// .instagramrevealed {
// 	color: #f9be02;
// }
//
// .pinterestrevealed {
// 	color: #bd071d;
// }
