/* set center text pos & src */
.grid-container-tablet .item4 .heroTextContainer {
	grid-area: hero;
	margin: auto;
	width: 100%;
	height: 100%;
}

.grid-container-tablet .heroTextContainer p {
	margin: 0;
	opacity: 0;
	z-index:-1;
}

.grid-container-tablet .heroTextContainer {
	font-family: Source Sans Pro,sans-serif;
    color: #7c7c7c;
}

.grid-container-tablet .item4 .herotext.space {
	width:2%;
	display:inline-block;
}

// .mailrevealed {
// 	color: #0099d2;
// }
//
// .linkedinrevealed {
// 	color: #007bb6;
// }
//
// .githubrevealed {
// 	color: #742e86;
// }
//
// .twitterrevealed {
// 	color: #07bd18;
// }
//
// .instagramrevealed {
// 	color: #f9be02;
// }
//
// .pinterestrevealed {
// 	color: #bd071d;
// }
