
.grid-container-laptop .item0.itemHide .img {
  left: 137%;
  top: 94%;
  opacity:0;
}

.grid-container-laptop .item1.item.topmiddle.itemHide .img {
  bottom:-70%;
  opacity:0;
}

.grid-container-laptop .item2.itemHide .img {
  right: 133%;
  top: 95%;
  opacity:0;
}
.grid-container-laptop .item3.itemHide .img {
  right: -144%;
  opacity: 0;
}

.grid-container-laptop .item5.itemHide .img {
  left: -145%;
  top: 5%;
  opacity: 0;
}

.grid-container-laptop .item6.itemHide .img {
    left: 136%;
    bottom: 94%;
    opacity: 0;
}

.grid-container-laptop .item7.item.itemHide .img {
  top: -172%;
  opacity: 0;
}

.grid-container-laptop .item8.itemHide .img {
    right: 136%;
    bottom: 95%;
    opacity: 0;
}
