/* assigning item divs to css grid */
.laptop-item0 { grid-area: topleft; }
.laptop-item1 { grid-area: topcenter; }
.laptop-item2 { grid-area: topright; }
.laptop-item3 { grid-area: middleleft; }
.laptop-item5 { grid-area: middleright; }
.laptop-item6 { grid-area: bottomleft; }
.laptop-item7 { grid-area: bottomcenter; }
.laptop-item8 { grid-area: bottomright; }
/* set all item divs to relative position (to center the item's content) */
.laptop-item {
	position:relative;
}

/* on item hover hover, make the cursor a pointer */
.laptop-item:hover {
	cursor:pointer;
}
.laptop-item .video {
  grid-area: video;
  /*background-color:red;*/
}

.laptop-item .spacer {
  grid-area: spacer;
  /*background-color: yellow;*/
}
