/* assigning item divs to css grid */
.grid-container-tablet .item0 { grid-area: topleft; }
.grid-container-tablet .item1 { grid-area: topcenter; }
.grid-container-tablet .item2 { grid-area: topright; }
.grid-container-tablet .item3 { grid-area: middleleft; }
.grid-container-tablet .item5 { grid-area: middleright; }
.grid-container-tablet .item6 { grid-area: bottomleft; }
.grid-container-tablet .item7 { grid-area: bottomcenter; }
.grid-container-tablet .item8 { grid-area: bottomright; }
/* set all item divs to relative position (to center the item's content) */
.grid-container-tablet .item {
	position:relative;
}

/* on item hover hover, make the cursor a pointer */
.grid-container-tablet .item:hover {
	cursor:pointer;
}
.grid-container-tablet .item .video {
  grid-area: video;
  // background-color:red;
}

.grid-container-tablet .item .spacer {
  grid-area: spacer;
  /*background-color: yellow;*/
}
