/* assigning item divs to css grid */
.grid-container-laptop .item0 { grid-area: topleft; }
.grid-container-laptop .item1 { grid-area: topcenter; }
.grid-container-laptop .item2 { grid-area: topright; }
.grid-container-laptop .item3 { grid-area: middleleft; }
.grid-container-laptop .item5 { grid-area: middleright; }
.grid-container-laptop .item6 { grid-area: bottomleft; }
.grid-container-laptop .item7 { grid-area: bottomcenter; }
.grid-container-laptop .item8 { grid-area: bottomright; }
/* set all item divs to relative position (to center the item's content) */
.grid-container-laptop .item {
	position:relative;
}

/* on item hover hover, make the cursor a pointer */
.grid-container-laptop .item:hover {
	cursor:pointer;
}
.grid-container-laptop .item .video {
  grid-area: video;
  /*background-color:red;*/
}

.grid-container-laptop .item .spacer {
  grid-area: spacer;
  /*background-color: yellow;*/
}
