.grid-container-mobile .item4 {
    grid-area: middlecenter;
}

.grid-container-mobile .grey {
    color: #7c7c7c !important;
}
/* set mail icon pos & src */
.grid-container-mobile .item4 .mail {
    grid-area: mail;
    background-image: url(/assets/images/mail.jpg);
}

/* set linkedin icon pos & src */
.grid-container-mobile .item4 .linkedin {
    grid-area: linkedin;
    background-image: url(/assets/images/linkedin.jpg);
}

/* set github icon pos & src */
.grid-container-mobile .item4 .github {
    grid-area: github;
    background-image: url(/assets/images/github.jpg);
    display:none;
}


/* set twitter icon pos & src */
.grid-container-mobile .item4 .twitter {
    grid-area: twitter;
    background-image: url(/assets/images/twitter.jpg);
}


/* set instagram icon pos & src */
.grid-container-mobile .item4 .instagram {
    grid-area: instagram;
    background-image: url(/assets/images/instagram.jpg);
    display:none;
}


/* set pinterest icon pos & src */
.grid-container-mobile .item4 .pinterest {
    grid-area: pinterest;
    background-image: url(/assets/images/pinterest.jpg);
    display:none;
}

/* set icon dimensions & settings */
.grid-container-mobile .icon {
  background-size: auto 200%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  cursor: none;
  height: 100px;
  width: 100px;
  margin:auto;
}
/* if icon has been unlocked, allow it to be pointed at */
.grid-container-mobile .active {
    /*display:inline-block;*/
    cursor:pointer;
}

/* set all unlocked icons hover styling */
.grid-container-mobile .item4 .active:hover {
	background-position: 50% 100%;
	opacity: 1 !important;
}
