/* adjustable variables for icon hiding*/
$iconHideTopVertical: 50%;
$iconHideBottomVertical: -50%;
$iconHideRightHorizontal: -35%;
$iconHideLeftHorizontal: 35%;

.grid-container-laptop .item4 {
    grid-area: middlecenter;
}

.grid-container-laptop .grey {
    color: #7c7c7c !important;
}
/* set topleft icon pos & src */
.grid-container-laptop .item4 .topLeftIcon {
    grid-area: topLeftIcon;
    background-image: url(/assets/images/topLeftIcon.jpg);
    top: $iconHideTopVertical;
    left:$iconHideLeftHorizontal;
}

/* set topcenter icon pos & src */
.grid-container-laptop .item4 .topCenterIcon {
    grid-area: topCenterIcon;
    background-image: url(/assets/images/topCenterIcon.jpg);
    top: $iconHideTopVertical;
}

/* set topright icon pos & src */
.grid-container-laptop .item4 .topRightIcon {
    grid-area: topRightIcon;
    background-image: url(/assets/images/topRightIcon.jpg);
    top: $iconHideTopVertical;
    left: $iconHideRightHorizontal;
}


/* set bottomleft icon pos & src */
.grid-container-laptop .item4 .bottomLeftIcon {
    grid-area: bottomLeftIcon;
    background-image: url(/assets/images/bottomLeftIcon.jpg);
    left: $iconHideLeftHorizontal;
    top: $iconHideBottomVertical;
}


/* set bottomcenter icon pos & src */
.grid-container-laptop .item4 .bottomCenterIcon {
    grid-area: bottomCenterIcon;
    background-image: url(/assets/images/bottomCenterIcon.jpg);
    top: $iconHideBottomVertical;
}


/* set bottomright icon pos & src */
.grid-container-laptop .item4 .bottomRightIcon {
    grid-area: bottomRightIcon;
    background-image: url(/assets/images/bottomRightIcon.jpg);
    top: $iconHideBottomVertical;
    left: $iconHideRightHorizontal;
}

/* set icon dimensions & settings */
.grid-container-laptop .icon {
  background-size: auto 200%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0;
  cursor: none;
  height: 50%;
  width: 50%;
  position: relative;
  margin:auto;
}
/* if icon has been unlocked, allow it to be pointed at */
.grid-container-laptop  .active {
    /*display:inline-block;*/
    cursor:pointer;
}

/* set all unlocked icons hover styling */
.grid-container-laptop .item4 .active:hover {
	background-position: 50% 100%;
	opacity: 1 !important;
}
