/* adjustable variables for icon hiding*/
$iconHideTopVertical: 40%;
$iconHideBottomVertical: -40%;
$iconHideRightHorizontal: -35%;
$iconHideLeftHorizontal: 35%;

.grid-container-laptop .item4 {
    grid-area: middlecenter;
}

.grid-container-laptop .grey {
    color: #7c7c7c !important;
}
/* set mail icon pos & src */
.grid-container-laptop .item4 .mail {
    grid-area: mail;
    background-image: url(/assets/images/mail.jpg);
    top: $iconHideTopVertical;
    left:$iconHideLeftHorizontal;
}

/* set linkedin icon pos & src */
.grid-container-laptop .item4 .linkedin {
    grid-area: linkedin;
    background-image: url(/assets/images/linkedin.jpg);
    top: $iconHideTopVertical;
}

/* set github icon pos & src */
.grid-container-laptop .item4 .github {
    grid-area: github;
    background-image: url(/assets/images/github.jpg);
    top: $iconHideTopVertical;
    left: $iconHideRightHorizontal;
}


/* set twitter icon pos & src */
.grid-container-laptop .item4 .twitter {
    grid-area: twitter;
    background-image: url(/assets/images/twitter.jpg);
    left: $iconHideLeftHorizontal;
    top: $iconHideBottomVertical;
}


/* set instagram icon pos & src */
.grid-container-laptop .item4 .instagram {
    grid-area: instagram;
    background-image: url(/assets/images/instagram.jpg);
    top: $iconHideBottomVertical;
}


/* set pinterest icon pos & src */
.grid-container-laptop .item4 .pinterest {
    grid-area: pinterest;
    background-image: url(/assets/images/pinterest.jpg);
    top: $iconHideBottomVertical;
    left: $iconHideRightHorizontal;
}

/* set icon dimensions & settings */
.grid-container-laptop .icon {
  background-size: auto 200%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0;
  cursor: none;
  height: 40%;
  width: 40%;
  position: relative;
  margin:auto;
}
/* if icon has been unlocked, allow it to be pointed at */
.grid-container-laptop  .active {
    /*display:inline-block;*/
    cursor:pointer;
}

/* set all unlocked icons hover styling */
.grid-container-laptop .item4 .active:hover {
	background-position: 50% 100%;
	opacity: 1 !important;
}
