@media only screen and (orientation: portrait) {
  // /* set icon dimensions & settings */
  .grid-container-tablet .icon {
      background-size: auto 201%;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      opacity: 1 !important;
      height: 40px;
      width: 40px;
  }
}
