/* adjustable variables for icon positioning */
$iconVerticalSpace: 25%;
$iconBottomVerticalSpace: 28%;
$iconSmallHorizontalSpace: 20%;
$iconLargeHorizontalSpace: 50%;

$animationSpeed: 500ms;

.grid-container-laptop .item4 .icon {
  -webkit-transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease, background-color $animationSpeed, width $animationSpeed, height $animationSpeed, margin-top $animationSpeed;
  -moz-transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease, background-color $animationSpeed, width $animationSpeed, height $animationSpeed, margin-top $animationSpeed;
  -o-transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease, background-color $animationSpeed, width $animationSpeed, height $animationSpeed, margin-top $animationSpeed;
  transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease, background-color $animationSpeed, width $animationSpeed, height $animationSpeed, margin-top $animationSpeed;
}

.grid-container-laptop .item4 .icon.active {
  opacity: .5;
  top: 0;
  left:0;
}

.grid-container-laptop .item4 .bottomRightIcon.active, .grid-container-laptop .item4 .bottomLeftIcon.active {
    top: -15%;
}

.grid-container-laptop .item4 .topRightIcon.active, .grid-container-laptop .item4 .topLeftIcon.active {
    top: 15%;
}
