
.grid-container-mobile .item4 {
    grid-area: middlecenter;
}

.grid-container-mobile .grey {
    color: #7c7c7c !important;
}
/* set topleft icon pos & src */
.grid-container-mobile .item4 a.centerLeftIcon {
    grid-area: centerLeftIcon;
    background-position: 100% 10%;
}

/* set bottomleft icon pos & src */
.grid-container-mobile .item4 a.centerRightIcon {
    grid-area: centerRightIcon;
    background-position: 0% 10%;
}

/* set icon dimensions & settings */
.grid-container-mobile a.icon {
  background-size: auto 150%;
  background-position: 50% -25%;
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
  background-size: 50%;
  height: 100%;
  width: 100%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
}
