/* adjustable variables for icon hiding*/
$iconVerticalSpace: 28%;
$iconBottomVerticalSpace: 28%;
$iconSmallHorizontalSpace: 20%;
$iconLargeHorizontalSpace: 50%;

.grid-container-tablet .item4 {
    grid-area: middlecenter;
}

.grid-container-tablet .grey {
    color: #7c7c7c !important;
}
/* set topleft icon pos & src */
.grid-container-tablet .item4 .topleft {
    grid-area: topleft;
    background-image: url(/assets/images/topleft.jpg);
}

/* set topcenter icon pos & src */
.grid-container-tablet .item4 .topcenter {
    grid-area: topcenter;
    background-image: url(/assets/images/topcenter.jpg);
}

/* set topright icon pos & src */
.grid-container-tablet .item4 .topright {
    grid-area: topright;
    background-image: url(/assets/images/topright.jpg);
  }


/* set bottomleft icon pos & src */
.grid-container-tablet .item4 .bottomleft {
    grid-area: bottomleft;
    background-image: url(/assets/images/bottomleft.jpg);
}


/* set bottomcenter icon pos & src */
.grid-container-tablet .item4 .bottomcenter {
    grid-area: bottomcenter;
    background-image: url(/assets/images/bottomcenter.jpg);
}


/* set bottomright icon pos & src */
.grid-container-tablet .bottomright {
    grid-area: bottomright;
    background-image: url(/assets/images/bottomright.jpg);
}

/* set icon dimensions & settings */
.grid-container-tablet .icon {
    background-size: auto 201%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 1 !important;
    height: 30%;
    width: 30%;
    margin:auto;
}
/* if icon has been unlocked, allow it to be pointed at */
.grid-container-tablet .active {
    /*display:inline-block;*/
    cursor:pointer;
}

/* set all unlocked icons hover styling */
.grid-container-tablet .item4 .active:hover {
	background-position: 50% 100%;
	opacity: 1 !important;
}
