/* adjustable variables for icon positioning */
$iconVerticalSpace: 25%;
$iconBottomVerticalSpace: 28%;
$iconSmallHorizontalSpace: 20%;
$iconLargeHorizontalSpace: 50%;

$animationSpeed: 500ms;

.grid-container-laptop .item4 .icon {
  -webkit-transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease;
  -moz-transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease;
  -o-transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease;
  transition: opacity $animationSpeed, top $animationSpeed ease, left $animationSpeed ease;
}

.grid-container-laptop .item4 .icon.active {
  opacity: .5;
  top: 0;
  left:0;
}
