.laptopInstructionsContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  min-width: 1300px;
  min-height: 600px;
  color: #7c7c7c;
  font-family: Source Sans Pro,sans-serif;
}

.laptopInstructions {
  width: 42%;
  background-color: white;
  height: 72%;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.laptopInstructions h1 {
  margin-top: 0;
  padding-left: 1.6%;
}

.laptopInstructionsContainer .instructionsButton {
  width: 200px;
  height: 10%;
  background-color: #7c7c7c;
  margin-right: 7.5%;
  margin-top: 2%;
  margin-left: auto;
  display: flex;
  cursor: pointer;
  color: white;
}

.laptopInstructionsContainer .instructionsButton p {
  text-align: center;
  margin: auto;
}

.laptopInstructions .instruction {
  width: 85%;
  height: 79%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4%;
  position: relative;
}

.laptopInstructions .instructionImage {
  height: 75%;
  width: 100%;
  background-color: pink;
}

.laptopInstructions .instructionText {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  display: block;
}

.laptopInstructions .instructionText p, .laptopInstructions .instructionText h2 {
  margin: 0;
  padding: 0;
}

.laptopInstructions .instructionText h2 {
  margin-bottom: 10px;
}

.webvrWhiteout {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}
