.mobileInstructionsContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  color: #7c7c7c;
  font-family: Source Sans Pro,sans-serif;
}

.mobileInstructions {
  width: 85%;
  background-color: #fff;
  height: 95%;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mobileInstructionsContainer .instructionsButton {
  width: 50%;
  height: 10%;
  background-color: #7c7c7c;
  /* margin-right: 7.5%; */
  margin-top: 5%;
  margin-left: auto;
  /* right: 0; */
  display: flex;
  cursor: pointer;
  color: #fff;
  position: relative;
}

.mobileInstructionsContainer .instructionsButton p {
  text-align: center;
  margin: auto;
  font-size: 2.3vh;
}

.mobileInstructions .instruction {
  width: 100%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4%;
  position: relative;
}

.mobileInstructions .instructionImage {
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  bottom: 0;
}

.mobileInstructions .instructionText {
  width: 100%;
  height: 34%;
  margin: 0;
  padding: 0;
  display: block;
}

.mobileInstructions .instructionText p, .mobileInstructions .instructionText h2 {
  margin: 0;
  padding: 0;
}

.mobileInstructions .instructionText p {
  font-size: 2.3vh;
}

.mobileInstructions .instructionText h2 {
  margin-bottom: 3vh;
  font-size: 2.9vh;
}

.webvrWhiteout {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}

@media only screen and (orientation: landscape) {

  .mobileInstructions {
    padding-top: 1.2%;
    width: 95%;
    height: 95%;
  }

  .mobileInstructions .instruction {
    padding-top: 3%;
  }

  .mobileInstructions .instructionText {
    height: 20%;
  }

  .mobileInstructions .instructionImage {
    height: 65%;
  }

  .mobileInstructionsContainer .instructionsButton {
    width: 25%;
    margin-top: 1%;
  }

  .mobileInstructions .instructionText h2 {
    font-size: 4vh;
  }

  .mobileInstructions .instructionText p {
    font-size: 3vh;
  }
}
