.videoPlayer iframe{
	position:fixed;
	height:100%;
	width:100%;
	z-index: 1;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	background-color: black;
}

.exitBtn {
	position: fixed;
	top: 0;
	right: 0;
	width: 9%;
	height: 12.5%;
	z-index: 2;
	max-width: 100px;
	max-height: 100px;
	background-size: 50%;
	background-image: url(/assets/images/exitIcon.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #cd0b0b;
	cursor:pointer;
}

.exitBtn:hover {
	background-color: #a40a0a;
}
