$herofooterspeed: 200ms;

.grid-container-laptop .item4 .heroFooterText {
  -webkit-transition: opacity $herofooterspeed, color $herofooterspeed, margin-top $herofooterspeed;
  -moz-transition: opacity $herofooterspeed, color $herofooterspeed, margin-top $herofooterspeed;
  -o-transition: opacity $herofooterspeed, color $herofooterspeed, margin-top $herofooterspeed;
  transition: opacity $herofooterspeed, color $herofooterspeed, margin-top $herofooterspeed;
}

.grid-container-laptop .item4 .heroFooterText {
	// height: 100%;
  width: 100%;
  // margin-bottom: 8%;
  text-align: center;
	grid-area: heroBottomText;
	margin: 0px 0px 17% 0px;
	top:0;
}

.grid-container-laptop .item4 .heroFooterText.none {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 900;
  margin-top: -5%!important;
  width: 150px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.grid-container-laptop .item4 .heroFooterText.centerRightIcon {
  color: #e4bc02;
}

.grid-container-laptop .item4 .heroFooterText.centerLeftIcon {
  color: #1d9c00;;
}

.grid-container-laptop .item4 .heroFooterText.centerIcon {
  color: #008f9c;
}
// .grid-container-laptop .item4 h1:hover ~ .heroFooterText {
//     color: #008f9c;
// }
